.container{
    max-width: 1280px;
    margin: 0 auto;
    .heading_area{
        padding: 50px;
        h1{
            font-size: 3rem;
            text-transform: uppercase;
            font-weight: 900;
        }
        p{
            max-width: 70%;
            font-weight: 500;
        }
    }
}