.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
        display: flex;
        list-style: none;
        gap: 2rem;
        li{
            cursor: pointer;
            font-weight: 500;
            font-size: 1.2rem;
        }
    }
}