nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

nav ul li a {
  text-decoration: none;
  color: var(--gray-color);
  text-transform: uppercase;
  font-weight: 600;
}
